    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Please Update Account </h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                     <h4> Edit <strong>Remind Me Account  :</strong></h4>
                    <br />

                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>

                        <%= f.input :first_name %>
                        <%= f.input :last_name %>
                        <%= f.input :cellphone_number %>
                        <%= f.input :email, autofocus: true %>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                          <%= f.input :password, autocomplete: "off" %><i>(leave blank if you don't want to change it)</i>
                          <%= f.input :password_confirmation, autocomplete: "off" %>
                          <%= f.input :current_password, autocomplete: "off" %>
                          <%= f.button :submit, "Sign up" class:'btn-info' %>
                    <% end %>

                    <h3>Cancel my account</h3>

                    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                    <%= link_to "Back", :back %>
                </div>

            </div>
        </div>
        </div>
