<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="logo">
      <%= image_url 'remindme.png' %>
    </div>
    <h1>Thanks for signing up</h1>
      <p>Hello <%= @user.name %>!</p>
      <p> This is a reminder email that you have <%= @notification.notification_time %> your <%= @event.description %> is due for <%= @event.name %>.</p>
      <p>Have a great day!</p>
  </body>
</html>
