<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <strong>Email: </strong>support@dalhia.net
                &nbsp;&nbsp;
                <strong>Support: </strong>(765)635-8422
                &nbsp;&nbsp;
                <strong>Today is: </strong><%= DateTime.current %>
            </div>
        </div>
    </div>
</header>

  <div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <%= image_tag "remindme.png", class: "navbar-brand" %>
      </div>
    </div>
  </div>
        <!-- LOGO HEADER END-->
  <section class="menu-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="navbar-collapse collapse ">
                    <% if user_signed_in? %>
                      <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home", events_path, class: "menu-top-active" %></li>
                        <% if can? :create, Event %>
                          <li><%= link_to "New Reminder", new_event_path, "data-toggle" => "modal", "data-target" => "#myModal" %></li>
                        <% end %>
                        <li><%= link_to "Admin Dashboard", rails_admin_path %></li>
                        <li><%= link_to "Edit profile", edit_user_registration_path %></li>
                        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                    <% end %>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
