<!DOCTYPE html>
<html>
<head>
  <title>Remind Me</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/navbar' %>


            <%= yield %>


    <%= render :partial => 'layouts/footer' %>
  </div>
</body>
</html>
