    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Please Login To Enter </h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                     <h4> Login with <strong>Remind Me Account  :</strong></h4>
                    <br />
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                     <label>Enter Email ID : </label>
                        <%= f.input :email, autofocus: true %>
                        <%= f.input :password, autocomplete: "off" %>
                        <hr />
                        <%= f.button :submit, "Log Me In", class: "btn btn-info" %>
                    <% end %>

                    <%= render "devise/shared/links" %>
                </div>

            </div>
        </div>
    </div>
